body {
	color: #999;
	font: 11px/15px Arial, Helvetica, sans-serif;
	padding: 2% 0;
}
h1 {
	background: #346667;
	color: #f6f7a7;
	font: 18px/24px Georgia, "Times New Roman", Times, serif;
	padding: 0 0 0 7%;
}
	h1 span {
		font-size: 11px;
	}
	h1 a {
		color: #fff;
		float: right;
		margin: 0 7% 0 0;
	}
h2 {
	font-size: 16px;
	line-height: 24px;
}
a {
	color: #999;
	text-decoration: none;
}
	a:hover,
	.zip a:hover {
		color: #333;
	}
div {
	display: inline;
	float: left;
	margin: 0 0 0 7%;
	width: 21%;
}
	.row {
		border-bottom: 1px solid #346667;
		display: block;
		margin: 0 0 2em 0;
		padding: 0 0 1em 0;
		width: 100%;
	}
ol {
	padding-left: 0;
}
	li {
		border-bottom: 1px solid #eee;
		padding: 2px 0;
		position: relative;
	}
		.last {
			border-bottom: 0;
		}
		.zip {
			background: #ddd;
			list-style: none;
		}
		.zip a,
		.zip span {
			color: #fff;
		}
		li span {
			position: absolute;
			right: 0;
		}
